<h1>Coupon Form</h1>

<%= form_tag @coupon do %>
<h5>Coupon Code: <%= text_field_tag "coupon[coupon_code]"  %></h5>
<h5>Store: <%= text_field_tag "coupon[store]"  %></h5>
<%= button_tag "Submit Coupon"  %>
<%end%>
